
.image-overlay {
  display: flex;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
}

/* .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
} */

.image-overlay {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  text-align: center;
}

.image-overlay:hover {
  opacity: 0;
}

.name,
.resume-skills,
.desc {
  margin-left: 5%;
}

.summary-title {
  margin-left: 15%;
}

.summary {
  width: 80%;
  margin-left: 15%;
}

.inline-resume{
  text-decoration: none;
  color: crimson;
}

.inline-resume:hover {
  text-decoration: underline;
}
.resume-p {
  text-align: left;
width: 80%;
margin-left: 15%;
}

.resume {
  display: flex;
flex-direction: column;
}

.dev {
  text-align: right;
  margin-right: 5%;
}

.developer {
  text-align: center;
}

.resume-doc {
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  text-decoration: none;
}

.name {
  margin-right: 68%;
  font-size: 24px;
}

