* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  width: 100%;
  background-image: url('https://media.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif');
  background-size: 100% 19%;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  background-color: white;
}

.fixed-top {
  widows: 100%;
}

header {
  height: 50vh;
  margin-top: 0px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin: auto;
}

header a {
  padding: 10px 3.5em;
  text-decoration: none;
  font-weight: 800;
}

header a {
  padding: 0;
}

.jumbotron .title {
  font-style: italic;
  color: #ec0653;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 0px;
}

header .jumbotron {
  margin-top: 10%;
  padding-bottom: 0px;
}

.lead {
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-style: oblique;
  color: #000000;
  border-bottom: 5px solid #343a40;
  padding-bottom: 6%;
}

.middle {
  background-color: #ffffff;
  width: 100%;
}

.skills .jumbotron {
  padding-top: 0px;
  color:#000000;
}

.skills {
  text-align: center;
  width: 100%;
  margin: auto;
  font-style: italic;
  font-family: fantasy;
}

.css {
  transform: translateX(-100px);
  animation: translate 0.5s ease-in;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.sass {
  transform: translateX(-11px);
  animation: translate 0.5s ease-in;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.html,
.js {
  transform: translateY(-10px);
  animation: translate 0.5s ease-in;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes translate {
  to {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

  to {
    transform: translateX(-450px);
  }
  to {
    transform: translateX(55px);
  }
}

.skills img {
  width: 40%;
  transition: transform 1s cubic-bezier(0.85, -0.62, 0.47, 1.2);
}

.skills li {
  font-size: 15px;
}

.skills .list-group {
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.skills-related {
  padding-top: 245px;
  padding-bottom: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  width: 100%;
  margin-left: 8%;
}

nav ul li {
  border: 1px solid white;
  padding: 14px;
  width: 20%;
  overflow: hidden;
  cursor: pointer;
}


#projects {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: skewX(-10deg);
  background-color:  #ec0653;
}
/* 
#projects:hover {
  transform: scale(1.3);
  transition: transform .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */


.projects .jumbotron {
  margin-bottom: 0px;
}

.col {
  background-color: #343a40;
  padding-bottom: 10%;
}

.col img {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 200px;
  margin-left: 10%;
  width: 80%;
}

.grid-container {
  display: flex;
  margin: auto;
  margin-left: 10%;
  width: 80%;
  margin-top: 50px;
}

.image-container,
.image-container-1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-overlay {
  display: flex;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
}

.image {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.image-overlay {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  text-align: center;
}

.image-overlay:hover {
  opacity: 1;
}

.image p {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.image h3 {
  color: white;
  font-size: 17px;
}

.image p {
  font-size: 15px;
}

.btn {
  width: 50%;
}

.secondary {
  border-bottom: 5px solid;
}

.contact {
  margin: auto;
  background-color: rgb(29, 33, 231);
  text-align: center;
}

.contact p {
  width: 67%;
  margin: auto;
}

a.github{
 background-image: url(../images/github.svg);
}
 
a.github:hover {
  opacity: 1;
}

a.github {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}


@media (min-width: 768px) {

  body {
    background-size: 100% 13%;
  }

  .jumbotron .title {
    font-size: 6rem;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  #projects {
    font-size: 6rem;
  }

  .html,
.js {
  transform: translateY(-100px);
}

.sass {
  transform: translateX(100px);
}

  .skills li {
    font-size: 20px;
  }

  .skills img {
    width: 20%;
  }

  .skills-related {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .card {
    width: 98%;
    margin-left: 1%;
    padding-bottom: 15%;
  }
}

@media (min-width: 1024px) {

  body {
    background-size: 100% 22%;
  }

  .skills-related {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .card {
    width: 30%;
    padding-bottom: 0;
  }

  .col {
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.4;
    padding-bottom: 4%;
  }
}
