//-----------------------------------
//          Mixins
//-----------------------------------


@mixin text-effect {
    background: linear-gradient(90deg, #000, #ffffff, #000);
    animation: animate 5s linear  ;
    background-size: 70%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    overflow: hidden;
}

@mixin fadeInUp {
    animation: fadeInUp 3s ease-in-out;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2.4s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@mixin border-bottom {
    border-bottom: rgb(255, 0, 85) 3px solid;
}