//--------------------------------------
//          About
//--------------------------------------


#about {
    font-style: italic;
    font-weight: 500;
    background-color: #0d0e0e;
}

.left{
    @media (min-width: 1224px) {
        background-image: url('../../images/quotes.png');
        background-repeat: no-repeat;
        background-size: 39px;
        background-position: 245px;
      }
}

.right {
    @media (min-width: 1224px) {
        background-image: url('../../images/qoute\ 2.png');
        background-repeat: no-repeat;
        background-size: 39px;
        background-position: 1060px;
    }
}

// .about-section {
//     animation: fadeInUp 3s ease-in-out;
//     animation-play-state: paused;
//     animation-delay: calc(var(--scroll) * -4s);
//     animation-iteration-count: 1;
//     animation-fill-mode: both;
// }

.about-section {
    padding-bottom: 7%;
}


@keyframes fadeInUp {
    from {
        opacity:0;
    -webkit-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0);
}
to{
    opacity:1;-webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    }
}