/* ----------------------------------------------
              Contact
------------------------------------------------*/

#Contact {
  font-size: 2rem;
  text-decoration: underline;
  font-style: italic;
  color: #fff;
}

 .contact {
    margin: auto;
    margin-top: 5%;
    text-align: center;
  }
  
  .contact p {
    font-size: 20px;
    color: #fff;
  }
  
  a.github{
   background-image: url(../images/github.svg);
  }
   
  a.github:hover {
    opacity: 1;
  }
  
  a.github {
      display: inline-block;
      text-indent: -9999px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .4;
      transition: all .5s;
  }

  .social {
    margin-bottom: 10%;
  }