/* ----------------------------------------------
              Contact
------------------------------------------------*/


 .contact {
    margin: auto;
    margin-top: 15%;
    background-color: rgb(29, 33, 231);
    text-align: center;
  }
  
  .contact p {
    width: 67%;
    margin: auto;
  }
  
  a.github{
   background-image: url(../images/github.svg);
  }
   
  a.github:hover {
    opacity: 1;
  }
  
  a.github {
      display: inline-block;
      text-indent: -9999px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .4;
      transition: all .5s;
  }