/* ----------------------------------------------
                HEADER
------------------------------------------------*/



header {
    height: 50vh;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin: auto;
    a {
        padding: 10px 3.5em;
        text-decoration: none;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
      }
      .jumbotron {
        margin-top: 10%;
        padding-bottom: 0px;
      }
  }
  

  .jumbotron .title {
    font-style: italic;
    font-family:  "Brush Script Std";
    color: gold;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 0px;
    background: linear-gradient(90deg, #000, rgb(175, 150, 150), #000);
    animation: animate 7s linear ;
    background-size: 80%;
    background-repeat: no-repeat;
    background-clip: text;
    @media (min-width: 768px) {
        font-size: 6rem;
      }
  }

  .lead {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-style: oblique;
    color: gold;
    background: linear-gradient(90deg, #000, rgb(175, 150, 150), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 7s linear;
    background-clip: text;
    padding-bottom: 6%;
  }


  

  @keyframes animate {
    0% {
      background-position:-500% ;
    
    }
    33% {
      background-position:-500% ;
      color: rgba(255, 255, 255, 0.1);
    }

    67% {
      background-position: 500%;
      color: rgba(255, 255, 255, 0.1);
    }
    100% {
      background-position: -500%;
    }
  }
