/* ----------------------------------------------
                HEADER
------------------------------------------------*/



header {
    height: 33vh;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin: auto;
    z-index: 1;
    a {
        padding: 10px 2.5em;
        // padding-right: 10px;
        text-decoration: none;
        font-weight: 800;
        font-size: 1.2rem;
        height: 100%;
        text-align: center;
        &.home:hover{
            @include border-bottom;
        }
        &.Skills:hover{
            @include border-bottom;
        }
        &.About:hover{
            @include border-bottom;
        }
        &.Projects:hover{
            @include border-bottom;
        }  
        &.Contact:hover{
            @include border-bottom;
        }
      }
      .jumbotron {
        margin-top: 10%;
        padding-bottom: 0px;
      }
      .navbar-brand{
        font-size: 2.5rem;
        margin-right: 30%;
      }
      .navbar-nav {
        padding-right: 1rem;
      }
  }
  

  .jumbotron .title {
    font-style: italic;
    font-family:  "Brush Script Std";
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    // @include text-effect;
    @media (min-width: 768px) {
        font-size: 6rem;
      }
      .title-name {
        padding: 0px;
      }
  }

  .lead {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-style: oblique;
    color: #fff;
    font-size: 3.5rem;
    @include text-effect;
    padding-bottom: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  @keyframes animate {
    0% {
      background-position:-50% ;
    
    }
    33% {
      background-position:-500% ;
    
    }

    80% {
      background-position: 200%;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background-position: -500%;
    }
  }


  // #videoBG {
  // object-fit: cover;
  // width: 100vw;
  // height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
  // }

  #videoBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }

  @media (min-aspect-ratio: 16/9) {
    #videoBG {
     width: 100%;
    }
  
  }