/* ----------------------------------------------
                Transitions
------------------------------------------------*/

.fade_out {
    opacity: 0;
  }
  
  #fade_transition {
    transition-property: opacity;
    transition-duration: 6s;
  }
  
  .slide_before {
   bottom: 2050px;
  }
  
  .slide_after {
   bottom: 0px;
  }
  
  .flip_transition {
    position: relative;
    transition-property: transform;
    transition-duration: 3s;
  }
  
  .flip_after {
    transform: rotateX(360deg) ;
  }
  
  
  #slide_transition {
    position: relative;
    transition-property:bottom;
    transition-duration: 3s;
  }