/* ----------------------------------------------
                TYPOGRAPHY
------------------------------------------------*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Merriweather", serif;
    width: 100%;
    background-image: url('../images/forest.jpg');
    background-size: 100% 21%;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    background-color: white;
    animation: change 10s infinite ;
    @media (min-width: 768px) {
        background-size: 100% 13%;
      }
      @media (min-width: 1024px) {
          background-size: 100% 22%;
        }
      
  }
  
  .fixed-top {
    widows: 100%;
  }

  @keyframes change {
    0% {
      background-image: url('../images/forest.jpg');
    }
    33% {
      background-image: url('../images/colors.jpg');
    }
    67% {
      background-image: url('../images/stars.jpg');
    }
  }



  // -------------Main Content background ------
  .middle {
    background-color: #ffffff;
    width: 100%;
  }

  // ----------------Projects Layout----------

  .flex-container {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 200px;
    margin-left: 10%;
    width: 80%;
  }
  
  .grid-container {
    display: flex;
    margin: auto;
    margin-left: 10%;
    width: 80%;
    margin-top: 50px;
  }
  

 div ~ .projects {
  @media (min-width: 1200px) {
    max-width: 1340px;
  }
  }

  // -------- Footer------------

  footer{
    font-weight: 700;
  }
  
  